$content-background: #fff;
$header-background: url(../img/header_background_v1.jpg);
$header-text: #fff;
$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$btn-color: #00adad;
$article-title: #0098a8;
$main-text-color: #222;
$post-description-color: #e90303;
$article-color: #efefef;
$hr-color: #607d8b;
$form-text: #0097a7;
