$content-background: #efefef;
$header-background: url(../img/header_background_v2.jpg);
$header-text: #ff5722;
$fonts: normal 18px/26px Palatino Linotype, Book Antiqua, Palatino, serif;
$btn-color: #0401ac;
$article-title: #607d8b;
$main-text-color: #757575;
$post-description-color: #c3c3d4;
$article-color: #fff;
$hr-color: #cfd8dc;
$form-text: #607d8b;
