@media (max-width: 1200px) {
  #triangle .triangle-text .black-text, #triangle .triangle-text .white-text p {
    font-size: 12px;
  }

  main #article-second .article-items .item {
    width: 25%;
    font-size: 12px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.text-bold {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
}

header {
  padding-top: 35px;
  background: url(../img/sample2.jpg) no-repeat center/cover;
  height: 720px;
}
header .top-wrapper {
  display: flex;
  justify-content: space-between;
}
header .top-wrapper .logo a {
  text-transform: uppercase;
  letter-spacing: .2em;
}
header .top-wrapper .registry a {
  margin-left: 55px;
}
header .top-wrapper a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
header .banner {
  text-align: center;
  color: #fff;
}
header .banner .title {
  margin-top: 200px;
}
header .banner .title h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 100;
  letter-spacing: .2em;
}
header .banner .title h1 span {
  font-size: 70px;
}
header .banner .title p {
  font-size: 14px;
}
header .banner .banner-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 140px;
}
header .banner .banner-btn a {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 70px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s ease-out;
  color: #fff;
}
header .banner .banner-btn a:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: .3s ease-in;
}

#triangle {
  position: relative;
  background-color: #f3f3f3;
  z-index: -1;
}
#triangle .triangle-text {
  height: 200px;
  display: flex;
}
#triangle .triangle-text .black-text {
  width: 50%;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}
#triangle .triangle-text .white-text {
  width: 50%;
  color: #fff;
  font-size: 14px;
}
#triangle:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 100vw solid transparent;
  border-top: 200px solid #000;
  z-index: -1;
}

main #article-first {
  background-color: #f3f3f3;
  padding-bottom: 65px;
}
main #article-first h3 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
}
main #article-first .article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #article-first .article-info .article-img {
  position: relative;
  width: 50%;
  height: 290px;
  background: url(../img/sample.jpg) no-repeat top/cover;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
main #article-first .article-info .article-img p {
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}
main #article-first .article-info .article-img .btn-like {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  cursor: pointer;
}
main #article-first .article-info .article-text {
  text-align: center;
  width: 50%;
  padding: 20px 0 0 90px;
  font-size: 14px;
}
main #article-first .article-info .article-text p {
  margin-bottom: 5%;
}
main .article-items {
  padding: 30px 0 70px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .article-items .item {
  width: 320px;
  padding: 20px;
  font-size: 14px;
  box-shadow: 0 3px 9px -2px;
}
main .article-items .item .item-btn {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #097774;
  padding: 5px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
main #subscribe {
  background-color: #f3f3f3;
  padding: 45px 0;
}
main #subscribe .subscribe-text {
  font-size: 14px;
}
main #subscribe .subscribe-form {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}
main #subscribe .subscribe-form label {
  font-size: 20px;
}
main #subscribe .subscribe-form input {
  margin: 0 15px;
}

input {
  width: 150px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #f3f3f3;
}

.btn-subscribe {
  border: none;
  color: #fff;
  background-color: #097774;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer-wrapper {
  display: flex;
  padding: 115px 0 100px 0;
  border-bottom: 2px solid #f0f0f0;
}
.footer-wrapper h3 {
  margin-bottom: 25px;
}
.footer-wrapper p {
  font-size: 12px;
  color: #9e9e9e;
  margin-right: 5px;
}
.footer-wrapper .footer-info {
  display: flex;
  width: 70%;
  line-height: 1.2em;
}
.footer-wrapper .footer-info .info {
  width: 30%;
}
.footer-wrapper .footer-info .info .italic {
  font-style: italic;
}
.footer-wrapper .footer-info .info span {
  font-size: 12px;
  color: #e8e8e8;
}
.footer-wrapper .newsletter-form {
  width: 30%;
}
.footer-wrapper .newsletter-form input {
  margin: 0 10px 0 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.footer-nav p {
  font-size: 14px;
  color: #9e9e9e;
}
.footer-nav a {
  color: #000;
  text-decoration: none;
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
